* {
  font-size: 15px;
}

.landing-banner {
  background-size: cover;
  background-position: center;
  min-height: 680px;
  padding: 30px 0;
}
.banner {
  background:linear-gradient(to top, rgba(0, 0, 0, .5), 
    rgba(0, 0, 0, 0)), 
  url(../image/banner.png) no-repeat;
}
.text-white {
  color: #fff;
}
.profile-name {
  margin-left: 5%;
}
.banner-heading {
  font-size: 38px;
  letter-spacing: -2;
  font-weight: 200;
  font-family: cursive;
}
.section-space {
  padding: 60px 0;
}
.logo {
  font-size: 60px;
  margin-left: 8%;
}
.used-tech {
 background-color:grey;
 padding: 12px 0;
 color: #fff;
}
.used-tech img {
  height: 65px;
}
.mrt-15 {
  margin-top: 15px;
}
.profile-img-set {
  height: 300px;
  width: 350px;
  border-radius: 50%;
}
.intro {
  font-size: 60px;
  line-height: 54px;
}